*{
font-family:"Bookman Old Style";
}
#baner1,#baner2{
    background:darkcyan;
    color:white;
    width:50%;
    height:100px;
    letter-spacing:15px;
    float:left;
}
#footer{
    background:darkcyan;
    color:white;
}
#item1,#item2,#item3{
    background:azure;

    width:30%;
    margin:1%;
    box-shadow: 4px 8px dimgray;
    
}
#item1 img,#item2 img,#item3 img{
    width:100%;
}
p, h2 , h3{
    margin:15px;
}
a{
    color:white;
}
h5{
    background:teal;
    width:100%;
    text-align:center;
    padding:10px 0 10px 0;
}
h5:hover{
    background:lightseagreen;

}
#quote{
    text-align:center;
    padding: 30px 0 30px 0;
    font-style: italic;
}
.block{
    display:block;
}
.none{
    display:none;
}
#quotes1,#quotes2,#quotes3{
    cursor:pointer;
}
#main{
    width:100%;
    display:flex;
    flex-direction:row;
}